body {
    background: #e3eadc;
}

#scroll-container {
    display: block;
    background: black;
    background-color: 3px solid black;
    color: white;
    padding: 4px;
    margin-top: -10px;  
    margin-bottom: -20px;
    position:absolute;
    left:0;
    right:0;
    overflow: hidden;
}

#scroll-text {
    text-align: right;
    font-size: 10px;
    -moz-transform: translateX(-100%);
    animation: scroll-text 20s linear infinite;
    animation-delay: 2.5s;
}

@keyframes scroll-text {
    0% {
        transform: translate(70%, 0);
    }
    100% {
        transform: translate (0, 0);
    }
}


#logo {
    display: block;
    margin: 0 auto;
    width: 5    00px;
    height: auto;
    padding-top: 20px;
}

.main {
    background-color: #ffffff;
    height: 1000px;
    width: 500x;
    margin: 10px 250px 150px 250px;
}
